<!DOCTYPE html>
<div class="wrapper sidebar-collapse">

  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <a ui-sref="home" class="logo">
      <div class="pull-left image">
        <img src="styles/img/hackathons.png" class="img-circle" style="height:40px;width:40px" alt="Logo">
      </div>
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>Hakathon</b></span>
    </a>
  </header>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content" ui-view="content">
      [content]
      <!-- Your Page Content Here -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
</div>
<!-- ./wrapper -->
